* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    padding: 60px;
    background-color: #2196F3;

    #container {
        margin: 0 auto;

        #table {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 10px;
            gap: 20px;
            .fields {
                background-color: rgba(255, 255, 255, 0.8);
                border: 1px solid rgba(0, 0, 0, 0.8);
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: 64px;
                font-weight: 700;
                font-family: sans-serif;
                display: inline-block;
                vertical-align: middle;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                -webkit-transition-duration: 0.3s;
                transition-duration: .5s;
                -webkit-transition-property: transform;
                transition-property: transform;
                &:hover,
                &:focus,
                &:active {
                    -webkit-transform: scale(0.95);
                    transform: scale(0.95);
                }
            }
        }
    }
}